/* main styles */
* {margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0}

html, body {
	width:100%;
	min-height:100%;
	min-width:320px;
	font-family: 'Barlow', sans-serif;
	-webkit-text-size-adjust:auto;
	font-weight:400;
	color:#000000;
	font-size: 16px;
	line-height: 24px;
	text-align:left;
}

.section {padding: 100px 40px;}
.content {max-width:900px; margin: 0 auto;}
.dark-grey {
	backgrond-color: #00ff00; 
	color: #ffffff;
}
.grey {background-color: #dedede;}

h1 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 40px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 40px;
	text-align:center;
}
h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}
p {margin-bottom: 20px;}
a {
	color: #004E7F; 
	text-decoration:none;
	font-weight: bold;
}
a:hover {color: #009BFF;}

a.socialLink {
	display: block;
	z-index:1;
}
/* menu */
.section#menu {padding:10px 40px;}
.nav {
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.nav ul {list-style-type: none;}
.nav li.li {
	font-size: 16px;
	line-height: 30px;
	display:inline-block;
	padding-right: 14px;
	font-weight: bold;
}
/* header */
#header {
	background-color: #004E7F;
	color:#ffffff;
	text-align:center;
}
.head p {font-size:22px;}
#header .content {
	display: flex;
	justify-content: center;
}
/* about */
.aboutMe {display: block;}
.aboutMe h2 {text-align:left;}
.image {
	display: block; 
	max-width:340px;
	width:100%;
}
.image img {
	width:100%;
	max-width: 300px;
	padding-top:8px;
}


/* skills */
#skills {background: #ffffff;}
.skillSet {display: block;}
.skillItem {
	width: 100%;
	padding: 20px;
	margin:0;
	margin-bottom: 40px;
	background-color: #ffffff;
	box-shadow: 1px 1px 7px #004E7F;
}
.skillItem h3, .skillItem p {text-align:center;}
.skillList {list-style-type: none; list-style-position: inside;}
.skillList li {margin-bottom:20px;}
.emails:before { content: url('images/email-code-icon.svg');}
.development:before { content: url('images/dev-icon.svg');}
.soft { content: url('images/soft-skill-icon.svg');}

/*projects */
#projects {background: #004E7F;}
#projects h2 {color:#ffffff;}
.LandingProjects, .emailProjects{display:block;}
.projItem{
	width: 100%;
	margin:0 auto;
	margin-bottom: 40px;
	background-color: #ffffff;
	padding: 20px;
	text-align:center;
	-moz-box-shadow:5px 5px 7px rgba(38,93,127,.7);
	-webkit-box-shadow: 5px 5px 7px rgba(38,93,127,.7);
	box-shadow: 5px 5px 7px rgba(38,93,127,.7);
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-moz-transform:rotate(3deg);
 }
 /* animation css */
.projItem:nth-child(even){
	-o-transform:rotate(-6deg);
	-webkit-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	position:relative;
	top:-5px;
}
.projItem:nth-child(3n){
	-o-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	position:relative;
	top:-5px;
}
.projItem:hover, .projItem:focus{
	box-shadow:10px 10px 7px rgba(78,185,255,.7);
	-moz-box-shadow:10px 10px 7px rgba(78,185,255,.7);
	-webkit-box-shadow: 10px 10px 7px rgba(78,185,255,.7);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	position:relative;
	z-index:5;
}
.projItem img {max-height: 200px; width:auto;}

#contact {
	background-color: #ffffff;
	text-align:center;
}
.links {
	display: flex;
	align-items: stretch;
	justify-content: center;
	margin-top:20px;
}
.links a:first-child {margin-right: 40px;}

.section#footer {
	padding: 20px 40px;
	background-color: #004E7F;
	color:#ffffff;
	font-size:12px;
	line-height: 18px;
	text-align:right;
}
#footer p {margin-bottom:0;}


@media (min-width: 768px) {
	.nav li.li {padding-right: 25px;}
	.aboutMe {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	.skillSet {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	.skillItem, .projItem {max-width: calc(33% - 20px);}
	.LandingProjects, .emailProjects{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
}
